:root {
  --color-primary: #142351;
  --color-secondary: #7C4242;
  --color-secondary-dark: #673a3a;
  --color-teal: #427C7C;
  --color-teal-dark: #376363;
  --color-grey: #cdcdcd;
  --color-white: #fff;

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: 'Quicksand', sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  color: var(--color-primary);
  font-style: normal;
  font-family: var(--font-secondary);
  font-weight: 700;
}

h2 {
  color: var(--color-teal);
  font-style: normal;
  font-family: var(--font-secondary);
  font-weight: 700;
}

h3 {
  color: var(--color-secondary);
  font-style: normal;
  font-family: var(--font-secondary);
  font-weight: 700;
}

h4 {
  color: var(--color-secondary);
  font-style: normal;
  font-family: var(--font-secondary);
  font-weight: 700;
}

h5 {
  color: var(--color-secondary);
  font-style: normal;
  font-family: var(--font-secondary);
  font-weight: 400;
}

h6 {
  color: var(--color-secondary);
  font-style: normal;
  font-family: var(--font-secondary);
  font-weight: 400;
}

li {
  font-style: normal;
  font-family: var(--font-primary);
  /* color: var(--color-primary); */
  font-weight: 400;
}

dt {
  font-style: normal;
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: 400;
}

dd {
  font-style: normal;
  font-family: var(--font-primary);
  color: var(--color-teal);
  font-weight: 400;
}

a {
  color: var(--color-secondary);
  font-style: normal;
  font-family: var(--font-secondary);
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: var(--color-secondary-dark);
}

cite {
  color: var(--color-secondary);
}

mark {
  background-color: var(--color-teal);
  color: var(--color-white);
}

footer,
header {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* @utility Set the background using the teal colour */
.featured-section {
  background-color: var(--color-teal);
}

/* @utility Set the color of the font to white*/
.featured-title {
  color: var(--color-white);
}

th {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 0px solid #000;
}

tr:nth-child(even) {
  background-color: var(--color-grey);
}

td {
  border: 0px solid #000;
}
