.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 8px;
}

.btn:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  transition: .3s;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-grey);
  color: var(--color-grey);
}

.btn-ghost:hover {
  border-color: var(--color-grey);
  background-color: var(--color-grey);
  color: var(--color-white);
}

.btn-light {
  background-color: var(--color-teal);
  border-color: var(--color-teal);
  color: var(--color-white);
}

.btn-light:hover {
  background-color: var(--color-teal-dark);
  border-color: var(--color-teal-dark);
}
