.nav-icon {
  border-width: 0px;
}

.topnav a {
  color: var(--color-white);
  text-decoration: none;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav .nav-icon {
  display: none;
}

.logo {
  max-width: 3em;
}

a.current {
  text-decoration: underline;
}

@media only screen and (max-width: 38em) {
  .nav-item{
    display: none;
  }

  .topnav button.nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 16px;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive button.nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  .topnav.responsive a {
    display: block;
    text-align: center;
  }
}
