<header class="pad-t pad-b-1-2">
    <div class="topnav grid grid-bottom" id="myTopnav">

      <div class="text-left unit xs-1 s-1 m-1-3 l-1-3 gutter-1-4">
        <a class="text-left gutter-1-4 push-r pad-b-1-4 pad-t-1-4" href="/index/"><img class="logo" src="/images/logo.svg" alt="logo">Feather Bar</a>
      </div>

      <nav class="text-right unit xs-1 s-1 m-2-3 l-2-3 gutter">
        <a class="nav-item gutter-1-4 pad-b-1-4 pad-t-1-4 {% if page.highlight_nav == 'shop' %}current{% endif %}" href="/products/">Shop</a>
        <a class="nav-item gutter-1-4 pad-b-1-4 pad-t-1-4 {% if page.highlight_nav == 'about' %}current{% endif %}" href="#">About</a>
        <a class="nav-item gutter-1-4 pad-b-1-4 pad-t-1-4 {% if page.highlight_nav == 'contact' %}current{% endif %}" href="#">Contact</a>
        <a class="nav-item gutter-1-4 pad-b-1-4 pad-t-1-4 {% if page.highlight_nav == 'cart' %}current{% endif %}" href="#">Cart<i class="icon gutter-1-2 i-1"><svg><use xlink:href="/images/icons.svg#cart"></use></svg></i></a>
        <a class="nav-item gutter-1-4 pad-b-1-4 pad-t-1-4 {% if page.highlight_nav == 'sign-in' %}current{% endif %}" href="#">Sign In</a>

        <button class="nav-icon icon">
          <i class="fa fa-bars"></i>
          <svg><use xlink:href="/images/icons.svg#nav-icon-open"></use></svg>
        </button>
      </nav>
    </div>
</header>
