.thumbnail {
  width: 100px;
}

.thumbnail:hover {
  cursor: pointer;
}

.product-img-main {
  border-bottom: 12px solid var(--color-teal);
}

.darken:hover {
  filter: brightness(75%);
  transition: .4s;
  min-height: 100%;
  width: 100%;
}

.banner-text {
  color: var(--color-white);
}

.price {
  color: var(--color-secondary);
}
