.input-label {
  color: var(--color-primary);
}

.input-field {
  border-color: var(--color-primary);
  max-width: 40%;
  color: var(--color-teal-dark);
  border-radius: 4px;
}

.input-field-number {
  border-color: var(--color-primary);
  max-width: 5em;
  color: var(--color-teal-dark);
  border-radius: 4px;
}

.submit-input {
  max-width: 15%;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-color: var(--color-secondary);
  border-radius: 8px;
}

.submit-input:hover {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-secondary-dark);
  transition: .3s;
}

.footer-submit {
  max-width: 30%;
  background-color: var(--color-white)
  border-color: var(--color-white);
  border-radius: 8px;
}

.footer-submit:hover {
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  transition: .3s;
  color: var(--color-white);
}

.legends {
  color: var(--color-primary);
}

.fieldsets {
  border: none;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before {
  border-color: var(--color-secondary);
}

.error-message {
  display: none;
  background-color: var(--color-grey);
  color: var(--color-secondary);
}

.error-message-highlighted {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
